#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 4vh;

    position: absolute;
    color: black;
    padding: 8px 24px;
    width: 90%;
    top: 58%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2vw;
    container-name: text;
    font-family: serif;
    letter-spacing: 0.07rem;
    text-transform: uppercase;

    @media (max-width: 768px) {
      gap: 4vw;
      font-size: 1.8vw;
    }

    @media (min-width: 1160px) {
      font-size: 24px;
    }
  }
}

button {
  margin: 16px;
  background-color: aquamarine;
  color: black;
  font-size: 1rem;
  font-weight: bold;
}
